
*.iml
*.class
/target/
/target/*
/.idea/
/.idea/*
/user-center/target/
/user-center/target/*
/user-center/.idea/
/user-center/.idea/*

/content-center/target/
/content-center/target/*
/content-center/.idea/
/content-center/.idea/*

/content-center/mvnw
/content-center/mvnw.cmd
/content-center/HELP.md
*.DS_Store
*.mvn
*.vscode

/ai-aip/mvnw
/ai-aip/mvnw.cmd
/ai-aip/target/
/ai-aip/target/*
/ai-aip/.idea/
/ai-aip/.idea/*

/content-center/logs/
/content-center/logs/*

*.key
*.jpg
*.jpeg



